/vendor/
/node_modules
.env
.env.*
!.env.example
/public/build/
public/hot
public/storage
storage/*.key
composer.lock
package-lock.json
npm-debug.log
yarn-error.log
.idea
.vscode
*.swp
*.swo
*.log
.DS_Store
Thumbs.db

.vercel
